[submodule "lib/aave-helpers"]
	path = lib/aave-helpers
	url = https://github.com/aave-dao/aave-helpers
[submodule "lib/composable-cow"]
	path = lib/composable-cow
	url = https://github.com/cowprotocol/composable-cow
